.cab-buttons-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 60px;
  height: 448px;
  flex-direction: column;
  justify-content: flex-end;
  order: 4;
}

.cab-buttons-wrapper {
  position: relative;
  height: 172px;
  width: 60px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
  background-color: rgba(200, 200, 200, 0.5);
  border-radius: 10px;

  img {
    margin: 7px 0;
    pointer-events: none;
  }
  .directional-button {
    padding: 0;
    margin: 0;
    background-color: unset;
    &:focus {
      background-color: unset;
    }

    img {
      width: 38px;
    }
  }
  .center-button {
    padding: 0;
    margin: 0;
    background-color: unset;
    &:focus {
      background-color: unset;
    }
    img {
      width: 30px;
    }
  }
}
