.mod-display-container {
  // background: red;
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 200px;
}
.mods-list {
  display: flex;
}
.mod-wrapper {
  position: relative;
  width: 36px;
}
.custom-mod {
  position: absolute;
  top: 8px;
  width: 100%;
  color: #fff;
  font-weight: 800;
  font-size: 15px;
  text-align: center;
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif;
}
