.chartArea-wrapper {
  margin: 0 auto;
  display: flex;
  user-select: none;

  .chartArea-left-wrapper {
    order: 1;
  }
  .canvas-wrapper {
    order: 2;
  }
  .chartArea-right-wrapper {
    order: 3;
  }
}

.bpm-display {
  position: relative;
  width: 60px;
  height: 436px;
  background: black;
  color: #dadada;
  text-align: right;

  .current-bpm-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    background-color: black;
    font-size: 20px;
    text-align: center;
    transform: translateZ(0); // hack to fix bpm container not showing up in certain browsers

    .current-bpm-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 50px;
      width: 100%;
      padding: 5px;
      background-color: #421e8f;
      border: 1px solid #6739c9;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 5px;
    }
    .current-bpm-header {
      color: #fff;
      font-size: 14px;
    }
    .current-bpm-value {
      color: #fff;
      font-size: 22px;
      font-weight: bold;
    }
  }

  #bpmReel {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  .bpm-value {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #b6ffff;
    font-size: 16px;
    font-weight: 800;
    padding-right: 5px;

    > div {
      transform: translateY(-50%);
    }
  }
}
.chartArea-left-wrapper,
.chartArea-right-wrapper {
  position: relative;
  width: 60px;
  height: 436px;
}

.stop-display {
  position: relative;
  width: 60px;
  height: 436px;
  background: black;
  color: #dadada;
  text-align: left;

  #stopReel {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  .stop-value {
    position: absolute;
    left: 0;
    width: 100%;
    color: red;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 800;
    padding-left: 5px;

    > div {
      transform: translateY(-50%);
    }
  }
}

.canvas-container.reverse {
  .current-bpm-container {
    top: auto;
    bottom: 0;
    .current-bpm-wrapper {
      bottom: auto;
      top: 0;
    }
  }
}

.canvas-container.double {
  /* Bpm and stop display for Doubles */
  .chartArea-left-wrapper,
  .chartArea-right-wrapper {
    // hide on portrait phone
    display: none;

    // show on tablets and up
    @media only screen and (min-width: 768px) {
      display: block;
    }

    // show on landscape phone
    @media only screen and (max-height: 420px) {
      display: block;
    }
  }
}

@import './cab-buttons';
@import './static-modal';
@import './offset-modal';
@import './mod-display';
