:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

html,
body {
  // height: 20px;
  overflow: auto;
  min-width: 0;
  // font-family: 'Barlow', 'Lato', sans-serif
  color: var(--text-normal);
}

#root {
  height: 100%;
}

.app-container {
  height: 100%;
}

// animated SVGs
@import "./svg/svg.scss";

@import './scss/variables.scss';
@import './scss/theme.scss';
@import './scss/fonts';
@import "./scss/main";
@import "./scss/mobile-nav";
@import "./scss/song-view";
@import "./scss/song-grid";
@import "./scss/share-modal";
@import "./scss/ui";
@import "./scss/chart/chart";
@import './scss/modal/modal';
