.main-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  // position: fixed;
  position: relative;

  // prevent mobile devices from zooming in
  input[type='text'],
  input[type='number'],
  textarea {
    font-size: 16px;
  }
}

.view-container {
  width: 100%;
}

.view-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  // transition: opacity 0.1s;
  // z-index: 0;
  // opacity: 0;

  &.songView {
    transform: translateX(-100%);
    // z-index: 1;
  }
  &.modsView {
    transform: translateX(100%);
    // z-index: 1;
  }

  &.active {
    transform: translateX(0%);
    // opacity: 1;
  }

  &.logView1:not(.active) {
    display: none;
  }

  .form-field {
    margin-bottom: 15px;

    .form-label {
      margin-bottom: 8px;
    }

    .radio {
      margin-right: 12px;
      margin-bottom: 5px;

      .box,
      label {
        padding-left: 20px;
      }
    }
  }

  .form-sublabel {
    margin-left: 20px;
    font-weight: normal;
  }
}

.songView {
  padding: 0;
}
.chartView {
}
.modsView {
  padding: 20px;

  .view-wrapper {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
.logView1 {
  .view-wrapper {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #logView1 {
    margin-bottom: 200px;
  }
}

.modsForm {
  .form-field:last-child {
    margin-bottom: 200px;
  }
}

.chartArea-container {
  width: 100%;
  // height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.canvas-container {
  position: relative;
  display: flex;
  height: 448px;
  transform-origin: top;

  &.double {
    #combo-temp {
      display: none;
    }

    // hide on doubles for now until I figure out where to put it
    .cab-buttons-container {
      height: auto;
      right: 0;
      // transform: translateX(50%) scale(0.75) translateY(12.5%);
      transform: translateX(100%);
    }
  }
}
.chartArea-wrapper {
  transform-origin: left top;
}
// .chartArea-wrapper {
//   margin: 0 auto;
//   display: flex;
// }
.canvas-wrapper {
  position: relative;
  // margin: 0 auto;
  outline: none;
  background-color: #000;
}

.chart-loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 auto;
  color: #fff;

  &:not(.loading) {
    display: none;
  }

  &.single {
    height: 448px;
    width: 256px;
  }
  &.double {
    // height: 448px;
    height: 100vw * (448/512);
    width: 100vw;
    transform: translateX(-50%);

    // @media only screen and (min-width: 982px) {
    @media only screen and (min-width: 512px) {
      height: 448px;
      width: 512px;
    }
    @media only screen and (min-width: 982px) {
      transform: none;
    }
  }

  .chart-loading-jacket {
    height: 130px;
    width: 130px;
  }

  .chart-loading-message {
  }
}

#chartArea {
  margin: 0 auto;
  // margin-top: 5px;
}

#combo-temp {
  display: none;
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: 10px;
  font-size: 14px;

  .combo-num {
    font-weight: 800;
    font-size: 22px;
  }
}

.row {
  display: flex;
  margin: auto 20px;
  justify-content: space-between;
}

.play-controls {
  display: flex;
  margin: 5px auto;
}
.ui.button.play-control {
  width: 45px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;

  .icon {
    margin: 0 !important;
  }
}

.song-info-area {
  display: flex;
  flex-direction: column;

  .view-static-btn {
  }
}

.song-info-row {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;

  > * {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.song-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 160px;
  font-weight: 800;
}
.bpm-information {
  padding: 0 5px;
  .bpm-value {
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.5px;
  }
}
.level-information {
  padding: 0 5px;
}

.below-chart-area {
}

.progress-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;

  height: 50px;
  width: 100%;
}

.progress-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: auto 20px;

  .preset-marker-wrapper {
    position: absolute;
    top: 0;
    height: 56px;
    width: 20px;
    padding: 0 6px;
    transform: translate(-50%, -3px);
    cursor: pointer;

    .preset-marker {
      height: 100%;
      width: 100%;
      background-color: white;
      border: 1px solid black;
      border-radius: 2px;
      transition: background-color 0.15s;
    }

    &:hover .preset-marker {
      background-color: #dadada;
    }
  }
}

#progress {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

// screens larger than portrait phones?
@media only screen and (min-width: 426px) {
  .chartArea-container {
    // padding: 30px;
    padding: 0;
  }
  .main-container {
    display: flex;
  }
}

// tablets and up
@media only screen and (min-width: 768px) {
  body {
    background-color: #d7e2ed;
  }

  .main-container {
    overflow: visible;
    height: 100%;
  }

  .view-container {
    display: flex;
    width: 100%;
    // flex-direction: column;
    flex-wrap: wrap;
    min-height: 960px;
  }
  .view-section {
    position: relative;
    background: none;
    padding: 15px 10px;

    &.songView,
    &.chartView,
    &.modsView {
      transform: none;
    }
  }
  .view-wrapper {
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
  }

  .songView {
    order: 2;
    width: 400px;
    padding: 0 10px 15px;
  }
  .chartView {
    order: 1;
    // width: calc(100% - 400px);
    width: 100%;
    height: auto;
    overflow: visible;

    .view-wrapper {
      padding: 0;
      padding-top: 5px;
    }
    .row {
      margin: 0;
    }

    .song-info-row {
      width: auto;
      min-width: 300px;
    }
  }
  .modsView {
    order: 3;
    flex: 1 1;
    width: calc(100% - 400px);
    overflow-y: auto;
    padding-top: 0;

    .view-wrapper {
      overflow-y: auto;
    }

    .modsForm {
      overflow: visible;
      .form-field:last-child {
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-width: 1100px) {
}

@media only screen and (min-width: 1370px) {
  .view-container {
    flex-direction: row;
    min-height: 700px;
    height: auto;
  }
  .view-section {
    overflow: visible;
    padding: 15px 10px;
  }
  .songView {
    order: 1;
    width: 440px;
  }
  .chartView {
    order: 2;
    width: auto;
    height: 100%;
    flex: 1 1;
    border-radius: 10px;
  }
  .modsView {
    order: 3;
    width: 360px;
    height: 100%;
    flex: none;
    border-top: none;
    border-radius: 8px;
  }

  .view-wrapper {
    padding: 20px 25px;
    border-radius: 8px;
    height: 100%;
  }
}

// max height for landscape orientation phone
// if height is this small, assume landscape view regardless of screen width
@media only screen and (max-height: 420px) {
  .main-container {
    overflow: hidden;
  }
  .view-container {
    display: block;
  }

  .view-section {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .view-wrapper {
      padding-top: 0;
      width: calc(100% - 64px);
      margin-left: 64px;
    }

    &.chartView {
      .chartArea-container {
        display: block;
      }
      .canvas-container {
        transform-origin: top;
      }
      .below-chart-area {
        display: flex;
        flex-wrap: wrap;
        margin: 5px auto;
        width: 90%;
      }
      .progress-container {
        width: 50%;
        margin: 0;
      }
      .progress-wrapper {
        margin: 0;
      }
      .play-controls-row {
        width: 50%;
        margin: auto 0;
      }
      .song-info-area {
        display: none;
      }
    }

    &.songView {
      transform: translateY(-100%);
    }
    &.modsView {
      transform: translateY(100%);
    }
    &.active {
      transform: translateY(0%);
    }
  }
}

#debugLog {
  position: absolute;
  right: 0;
  top: 100px;
  width: 80px;
  height: 150px;
  background-color: rgba(0, 255, 255, 0.5);
  padding: 10px;
  font-weight: 800;
  pointer-events: none;
}
