.navbar-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(250, 252, 255, 0.975);

  // layer above semantic-ui modal by default
  z-index: 1100;

  // avoid iPhone X bottom notch area
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom, 0);

  // layer behind semantic-ui modal if modal is full screen
  &.behind-modal {
    z-index: 900;
  }
}

.navbar {
  height: 60px;
  display: flex;

  .navbar_item {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
    border-top: 1px solid #dadbdc;
    cursor: pointer;

    .icon,
    .svg-icon {
      pointer-events: none;
      transition: color 0.15s;
      margin: 0;
      margin-top: 3px;
      height: 24px;
      max-width: 75%;
    }

    .icon {
      color: #202122;
    }
    .svg-icon {
      path {
        fill: #202122;
        transition: fill 0.15s;
      }

      &.song {
        path {
          fill: #202122;
          stroke: #202122;
          stroke-width: 4px;
          transition: fill 0.15s, stroke 0.15s;
        }
      }
    }

    .description {
      font-size: 14px;
      font-weight: 600;
      transition: color 0.15s;
    }

    &.active {
      .icon,
      .description {
        color: #0080ff;
      }
      .svg-icon {
        path {
          fill: #0080ff;
        }
        &.song {
          path {
            fill: #0080ff;
            stroke: #0080ff;
          }
        }
      }
    }

    &.disabled {
      cursor: default;
      .icon,
      .description {
        color: #c0c6cc;
      }
      .svg-icon {
        path {
          fill: #c0c6cc;
        }
        &.song {
          path {
            fill: #c0c6cc;
            stroke: #c0c6cc;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 426px) {
}

// tablets and up
@media only screen and (min-width: 768px) {
  .navbar {
    display: none;
    // position: relative;
    // top: 0;
    // left: 0;
    // width: 180px;
    // height: 100%;
    // display: flex;
    // flex-direction: column;

    // border-right: 1px solid #dadada;

    // .navbar_item {
    //   width: 100%;
    //   height: 80px;
    //   flex-direction: row;
    //   justify-content: flex-start;
    //   padding: 0 10px;
    //   border: none;

    //   .svg-icon {
    //     width: 75px !important;
    //     margin-right: 10px;
    //   }
    //   .description {
    //     font-size: 20px;
    //   }
    // }
  }
}

// max height for landscape orientation phone
// if height is this small, assume landscape view regardless of screen width
@media only screen and (max-height: 420px) {
  .navbar-wrapper {
    top: 0;
    height: 100%;
    width: 64px;
    padding-top: env(safe-area-inset-bottom, 0);
    border-right: 1px solid #dadbdc;
  }
  .navbar {
    display: flex;
    height: 100%;
    flex-direction: column;

    .navbar_item {
      width: 100%;
      height: 64px;
      // border-right: 1px solid #dadbdc;
      border-top: none;

      .description {
        font-size: 13px;
      }
    }
  }
}
