.songView {
  display: flex;
  flex-direction: column;
  padding: 0;

  .form-inner-wrapper {
    position: relative;
    // padding: 10px 20px 0;
    height: 280px;
    // display: flex;
    // flex-direction: column;
    padding-bottom: 5px;
    background-color: rgb(215, 226, 237);
  }

  .selectedSong {
    position: relative;
    background-color: rgba(98, 124, 146, 1);
    // height: 200px;
    margin-top: 10px;
    display: flex;
    // height: 145px;
  }

  .selectedSong-jacket-wrapper {
    position: relative;
    width: 140px;
    height: 140px;
    min-width: 140px;
    min-height: 140px;
    margin-left: 8px;
    margin-top: 2px;
    border: 2px solid #002244;
    border-radius: 8px;
    background-color: #fff;
    z-index: 4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;

    .selectedSong-jacket-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: background-color 0.5s;

      #audioWave {
        opacity: 0;
        transition: opacity 0.5s;
        pointer-events: none;
      }
    }

    &.playing {
      .selectedSong-jacket-overlay {
        background-color: rgba(0, 0, 0, 0.5);

        #audioWave {
          opacity: 0.75;
        }
      }
    }
  }

  .selectedSong-jacket {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  .selectedSong-info {
    height: 100px;
    flex-grow: 1;
    background: rgba(66, 68, 70, 0.5);
    padding-top: 5px;
  }

  .song-title-dropdown.ui.search.dropdown {
    width: 100%;
    min-width: 0;
    height: 40px;
    padding: 0;
    padding-left: 4px;
    border: 1px solid rgba(66, 68, 70, 0.5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(250, 252, 255, 0.975);
    font-weight: 800;
    z-index: 10;

    input.search {
      padding-left: 4px;
    }

    > .text {
      height: 100%;
      display: flex;
      align-items: center;
      padding-right: 20px;
    }
    > .dropdown.icon {
      right: 6px;
    }

    .menu {
      max-height: 300px;
    }
  }
  .song-artist {
    padding-left: 4px;
    background: rgba(250, 252, 255, 0.975);
    height: 24px;
    border: 1px solid rgba(66, 68, 70, 0.5);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    font-weight: 800;
  }

  .songForm-actions {
    display: flex;
    justify-content: center;
  }
  .submit-btn {
    border: 3px solid #00bf00;
    border-radius: 20px;
    background-color: #005800;
    color: #f4fff4;
    font-weight: 800;
    letter-spacing: 1.6px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .song-difficulties {
    margin-top: 5px;
    display: flex;
  }

  .song-difficulty {
    height: 40px;
    width: 40px;
    background: #222;
    margin: 0 2px;
    border-radius: 100%;
    border: 3px solid #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 5;
    font-family: "Trebuchet MS";
    transition: box-shadow 0.15s;
    cursor: pointer;

    &.selected {
      z-index: 6;

      .difficulty {
        font-size: 12px;
        line-height: 14px;
        color: #fff;
      }
      .level {
        font-size: 18px;
        line-height: 20px;
        color: #fff;
      }
    }

    &.Beginner {
      border-color: rgba(150, 255, 255, 0.95);
      &.selected {
        box-shadow: 0 0 10px 8px rgba(150, 255, 255, 0.95);
      }
    }
    &.Basic {
      border-color: rgba(255, 255, 150, 0.95);
      &.selected {
        box-shadow: 0 0 10px 8px rgba(255, 255, 150, 0.95);
      }
    }
    &.Difficult {
      border-color: rgba(255, 150, 150, 0.95);
      &.selected {
        box-shadow: 0 0 10px 8px rgba(255, 150, 150, 0.95);
      }
    }
    &.Expert {
      border-color: rgba(150, 255, 150, 0.95);
      &.selected {
        box-shadow: 0 0 10px 8px rgba(150, 255, 150, 0.95);
      }
    }
    &.Challenge {
      border-color: rgba(150, 150, 255, 0.95);
      &.selected {
        box-shadow: 0 0 10px 8px rgba(150, 150, 255, 0.95);
      }
    }

    .difficulty {
      font-size: 10px;
      line-height: 12px;
      color: rgba(255, 255, 255, 0.75);
      font-weight: 800;
      text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000;
      transition: font-size 0.15s, line-height 0.15s, color 0.15s;
    }
    .level {
      color: rgba(255, 255, 255, 0.75);
      font-weight: 800;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 2px;
      text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000;
      transition: font-size 0.15s, line-height 0.15s, color 0.15s;
    }
  }

  .songForm-filters {
    // display: flex;
    // justify-content: space-between;
    // height: 145px;

    .songForm-filters-row {
      display: flex;
      justify-content: space-between;
    }

    .form-field {
      padding: 0 10px;
      display: flex;
      flex-direction: column;

      .ui.selection.dropdown {
        min-width: 70px;
        margin-bottom: 5px;

        .menu {
          height: 300px;
          max-height: none;
          > .item {
            text-align: center;
            padding-left: 5px !important;
            padding-right: 5px !important;
          }

          .text {
            font-size: 16px;
          }
        }
        &.version-filter-dropdown {
          width: 120px;

          .menu {
            .text {
              font-size: 14px;
            }
          }
        }
        &.difficulty-filter-dropdown {
          .menu {
            height: auto;
            .text {
              font-size: 14px;
            }
          }
        }
      }
    }

    // .title-filter-dropdown {
    //   width: 70px;
    // }
  }
}
