.toggleSwitch-wrapper {
  display: flex;
  align-items: center;
  height: 18px;

  .toggleSwitch {
    position: relative;
    height: 100%;
    width: 40px;
    top: 0;
    left: 0;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 2px;
      width: 100%;
      background-color: black;
    }
    &:after {
      content: "";
      position: absolute;
      top: 2px;
      height: 14px;
      width: 14px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid rgba(66, 68, 70, 0.8);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: transform 0.15s;
    }

    &.left:after {
      transform: translateX(0);
    }
    &.right:after {
      transform: translateX(26px);
    }
  }

  .toggleSwitch-option1,
  .toggleSwitch-option2 {
    cursor: pointer;
    padding: 0 2px;
    font-weight: 800;
    transition: color 0.15s, text-shadow 0.15s;

    &.selected {
      color: #fff;
      text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
        -1px -1px 0 #000;
    }
  }
}

.link-button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  color: #0080ff;
  text-decoration: underline;
}


.modal-actions {
  margin-top: 20px;
  text-align: center;
}
